.card__wrap{
    width: 18%;
    margin: 1% 0;
    transition-duration: .40s;
}
.card__wrap:hover{
    transform: translate(0,-1%);
    transition-duration: .40s
}
.card{
    background: center / cover no-repeat;
    height: 50vh;
    width: 100%;
    cursor: pointer;
}
.badges{
    display: flex;
    justify-content: space-between;
    padding: 2%;
}

.green,.red,.new__badges{
    padding: 2% 4%;
    background: green;
    border-radius: 5px;
    color: white;
}
.red{
    background: red;
}
.new__badges{
    background: chocolate;
}

.info > h2,p{
    margin: 3% 0;
}
